@using Autoshop1.Models.Vendors
@model LoaderToDB
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Загрузка прайсов";
}



<div class="dash__header__search">
    <div class="report-name">
        <h4 class="headerM">Загрузка прайсов</h4>
    </div>
</div>

<div class="mainblock">
    <div class="price-loading">
        <form class="form-price-loading" enctype="multipart/form-data" method="post" asp-controller="FileLoader" asp-action="Index">
            <p>
                <input type="file" name="file" multiple accept=".xls, .xlsx, .xlsb" />
            </p>
            <p>
                <input class="btn" type="submit" value="Загрузить" />
            </p>

            <div class="f-inf">
                <table class="fileLoad-table-info">
                    <tr>
                        <td>@Model.fileName:</td>
                        <td>Загружено: @Model.numLoaded артикулов</td>
                        <td>Ошибок: @Model.numError артикулов</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
