@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="text-center">
        <h4 class="display-4">Это интернет-магазин. Запчасти на любые иномарки</h4>

    </div>*@

<div class="container-fluid">
    <div class="banner">
    </div>
</div>
<div class="container categories">
    <div class="row categories-row">
        <div class="special-category col-md-2">
            <a href="#" class="category-inner">

                <div class="category-image-wrapper">
                    <span class="category-image-inner image-container">



                        <img src="img/oil1.jpg" class="category-image" title="Масла">
                    </span>
                </div>

                <div class="category-title">
                    Масла
                </div>

            </a>
        </div>
        <div class="special-category col-md-2">
            <a href="#" class="category-inner">

                <div class="category-image-wrapper">
                    <span class="category-image-inner image-container">



                        <img src="img/battery.jpg" class="category-image" title="Аккумуляторы">
                    </span>
                </div>

                <div class="category-title">
                    Аккумуляторы
                </div>

            </a>
        </div>
        <div class="special-category col-md-2">
            <a href="#" class="category-inner">

                <div class="category-image-wrapper">
                    <span class="category-image-inner image-container">



                        <img src="img/lamp.jpg" class="category-image" title="Лампы">
                    </span>
                </div>

                <div class="category-title">
                    Лампы
                </div>

            </a>
        </div>
    </div>
</div>



<div class="container">


    <div class="textblock">
        <div class="textblock__main">
            <h1 style="font-size: 20px; line-height: 28px; margin:0 0 8px">
                Интернет-магазин автозапчастей
            </h1>100 000 предложений запасных частей, компонентов, агрегатов, расходных
            материалов, технических жидкостей и аксессуаров для большинства марок автомобилей
            <br><br> Добро пожаловать в наш магазин! <br><br><em>
                Вы заботитесь о своем автомобиле и
                разбираетесь
                во всех тонкостях его устройства?
            </em> <br><em>
                Вы начинающий автолюбитель, но хотите
                самостоятельно обслуживать свой автомобиль?
            </em> <br> <em>
                Не обслуживаете автомобиль сами,
                но хотите контролировать свои траты на запчасти и расходные материалы?
            </em> <br><br> Наш
            магазин
            будет полезен в любом случае!
            <div style="margin: 16px 0;">
                <div class="textblock__firstblock">
                    <strong>У нас есть:</strong>
                    <ul class="blue-point">
                        <li>
                            поиск по наименованию – у нас Вы найдете и «дворники» и «щётки
                            стеклоочистителя»;
                        </li>
                        <li>
                            поиск по артикулу – если Вы знаете точный артикул, то сможете безошибочно найти
                            нужную
                            деталь;
                        </li>
                        <li>
                            подбор по VIN – введите VIN Вашего автомобиля, и Вы сможете найти необходимые
                            запасные части, подходящие именно для него;
                        </li>
                        <li>
                            база автозапчастей для иномарок, в которой есть все
                            каталоги оригинальных запчастей и каталоги аналогов;
                        </li>
                        <li>бесплатная доставка запчастей на дом;</li>
                        <li>история Ваших заказов;</li>
                    </ul>
                </div>
                <div class="textblock__secondblock">
                    <strong>У нас вы можете:</strong>
                    <ul class="blue-point">
                        <li>
                            купить автозапчасти онлайн и быть уверенными в их качестве и сроках доставки;
                        </li>
                        <li>оплатить заказ курьеру при получении;</li>
                        <li><a href="#" title="Оплата">оплатить</a> заказ любым удобным Вам способом;</li>
                        <li>
                            <a href="#" title="Возврат товаров">вернуть товар</a> в любом случае в течение
                            14 дней;
                        </li>
                        <li>заказать доставку в пункт выдачи курьерской службы рядом с Вашим домом;</li>
                    </ul>
                </div>
                <div style="clear: both;">&nbsp;</div>
            </div>

            <div style="clear: both; width: 100%;">
                У нас заказывать автозапчасти для иномарок
                легко.<br> <br> Мы всегда рады общению и готовы контактировать с Вами в любом удобном для
                Вас формате: по телефону, мессенджеру или по
                е-mail. <br><br>
            </div>
        </div>
    </div>

</div>


