@using Autoshop1.Models.ViewModels
@model ModelCollection
@*<div class="iconCart">
        <i class="fas fa-shopping-cart"></i>
        <a asp-area="" asp-controller="Cart" asp-action="Index"><span class="cart-total"></span></a>
    </div>*@

<a href="#" class="cart-link">
    <div class="iconCart">
        <i class="fas fa-shopping-cart"></i>
        <span class="cart-total">(
        @if (@Model != null) {
        @(Model.GetModel<int>())
        }
        )</span>
    </div>
</a>