@model RegisterViewModel

@{ 
    ViewBag.Title = "User Registration";
}

@*<div class="bg-primary m-1 р-1 text-white"><h4>Create User</h4></div>
<div asp-validation-summary=" All" class="text-danger"></div>
<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=" Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=" ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>*@


<div class="form-registration">
    <div class="reg-header">
        <h4>Регистрация</h4>
    </div>
    <div asp-validation-summary=" All" class="text-danger"></div>
    <form method="post">
        <div class="form-group">
            <div>
                ФИО <span style="font-size: 12px; font-weight: 400;">
                    (введите ваши реальное ФИО, выдача товара может
                    производиться по паспортным
                    данным)
                </span>
            </div>
            <input asp-for="Name" class="form-control" placeholder="Введите ФИО" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div>Email</div>
            <input asp-for="Email" class="form-control" placeholder="Введите Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div>Телефон</div>
            <input asp-for="Phone" class="form-control" placeholder="Введите номер телефона" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div>Пароль</div>
            <input asp-for="Password" class="form-control" placeholder="Введите пароль(мин 6 символов)" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div>Подтверждение пароля</div>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>

</div>